/* style.css */
body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100VH;

}
.score-result {
    margin-bottom: 500px;
}


.memory-game {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 700px;

}

.card-border {
    border: #006064 solid 1px;
}



